body {
  background-color: orangered;
  font-family: 'Courier New', Courier, monospace;
  color: white
}

.hidden {
  display: none;
}

[name=-hidden] {
  display: none;
}

#order-card {
  background-color: #1d1aab;
}

[name=header-card] {
  background-color: #651aab;
}

#order-result {
  background-color: #1aa6ab;
}

a:visited {
  color: purple;
}

a:visited {
  color: purple;
}

a:hover {
  color:orangered
}